<%# collection_row_cache(rental_property) do %>
<article class="col-sm-6 col-md-6 post-item">
  <%= render "rental_properties/thumbnail", :record => rental_property %>
</article> 
<%#end %>
<% if rental_property_counter%2 == 1 %>
  <div class="clearfix hidden-xs-block"></div>
<% end %>
