<!-- Newsletter
  ================================================== -->
  <form class="form-inline form-newsletter" role="form" action="http://account.stbarth-emailing.com/t/j/s/ntyilt/" method="post">
    <div class="form-group">
      <label class="sr-only" for="fieldEmail">Email</label>
      <input class="form-control" id="fieldEmail" name="cm-ntyilt-ntyilt" placeholder="Enter email" type="email" required >
    </div>
    <div class="form-group">
      <label class="sr-only" for="fieldkutkdt">Language</label>
      <select class="form-control" name="cm-fo-kutkdt" id="fieldkutkdt" required>
        <option value="">Language</option>
        <option value="1068172">English</option>
        <option value="1068173">Français</option>
      </select>
    </div>
    <button type="submit" class="btn btn-inverse" disabled>Go</button>
  </form>