<button class="btn btn-primary btn-search-collapse" id="btn-search" type="button" data-toggle="collapse" data-target="#global-search-panel" aria-expanded="false" aria-controls="global-search-panel">
  <i class="fa fa-search"></i>  <%= t('searching') %>
</button>
